:root {
  --color-base-orange: 22, 100%;
  --color-base-gray: 215, 14%;
  --color-base-gray: 215, 14%;

  --color-gray-40: var(--color-base-gray), 40%;
  --color-gray-95: var(--color-base-gray), 95%;
  --color-orange: var(--color-base-orange), 50%;
}

:root {
  color-scheme: light;
  --theme-success-test: rgba(27, 128, 27, 0.774);
  --theme-text-accent: hsla(var(--color-orange), 1);
  --theme-accent: hsla(var(--color-orange), 0.5);
  --theme-accent-opacity: 0.15;
  --theme-divider: hsla(var(--color-gray-95), 1);
  /* @@@: not used anywhere */
  --theme-bg-hover: hsla(var(--color-gray-95), 1);
  --theme-bg-accent: hsla(var(--color-orange), var(--theme-accent-opacity));
}
:root.theme-dark {
  color-scheme: dark;
  --theme-text-accent: #E06330;
  --theme-bg-hover: hsla(var(--color-gray-40), 1);
}